
/* related to header style */
.header{
    background-color:rgba(229, 84, 115, 0.1);
}
body{
    font-family: 'Open Sans', sans-serif;
}
.banner{
    padding: 100px 150px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-title{
    margin: 0;
    font-size: 85px;
    font-weight: 700;
    margin-bottom:20px;
}
.btn-primary{
    background-color: #e55473;
     border-radius: 5px;
     border: 0;
     padding: 15px 35px;
     font-size: 20px;
     font-weight: 700px;
     color: white;
}

.para{
    font-size: 16px;
  margin-top: 50px;
 color: rgba(39, 39, 39, 0.6);
 text-align: justify;
}
.banner-content {
    max-width: 800px; /* Adjust the value according to your preference */
    margin: 0 auto; /* Centers the content horizontally within the parent container */
  }

  /* main section style */
.section-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
width: 594px;
margin: 0 auto; /* Centers the element horizontally within its container */
margin-top: 20px;
margin-bottom: 20px;

}
.section-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800 ;
margin-bottom: 20px;
margin-top: 130px;
}

/* .image-container{ */

    .image-container {
        display: flex;
        width: 1920px;
         background: #FFF;
         margin-top: 10px;
         margin-left: 100px;
         margin-right: 200px;
         align-items: center;
        justify-content: space-around;
    }
    .red{
        padding: 117px 47px 51px 47px;
        /* padding-top: 117px; */
        border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

    }
    .pink{
        padding: 78px;
        padding-top: 110px;
        border-radius: 300px 300px 0px 0px;
        background: rgba(167, 33, 98, 0.15)
    }
    .yellow{
        padding:75px ;
        padding-top:67px ;
        border-radius: 300px 300px 0px 0px;
        background: rgba(71, 125, 17, 0.15);
    }
    .img-caption{
        text-align: center;
        color: #272727;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        text-decoration-line: underline;
    }

.offer-info{
    display: flex;
    align-items: center;
     justify-content: space-around;
     margin: 393px;
}
.offer{
    text-align: center;
}
.insta{
    margin-bottom: 50px;
}
.image-of-insta {
    display: flex;
    justify-content: center;
    gap: 20px; /* Add 20px of space between the images */
    margin-top: 50px;
  }
  
  .image-of-insta img {
    max-width: 100%;
    height: auto;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input{
    width: 700px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #FFF;
    height: 64px;
  }
  .input-container {
    margin-top: 48px; /* Adjust the value to reduce the top margin */
    margin-bottom: 121px;
  }

.cupon-info{
    background-image: url(../flower/Rectangle\ 9.png);
    margin: 128px 240px;
    border-radius: 8px;
}
.btn-primary-2{
    background-color: #e55473;
     border-radius: 5px;
     border: 0;
     padding: 15px 35px;
     font-size: 20px;
     font-weight: 700px;
     color: white;
     margin-left: 47px;
}
/* footer styles */
.closing-info{
    color: #E55473;
    text-align: center;
    font-size: 48px;
    font-weight: 800 ;
     margin-bottom:20px; /* Adjust the percentage value as needed */
     margin-top: 20px;
}
.white{
    color: #FFFFFF;
}
.foot{
    background-color: #111010;
    /* width: 100%; */
     /* height: 100vh; */
    background-size: cover;
    padding: 100px 0;
}
.copy{
color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-weight: 400;
width: 594px;
margin: 0 auto; /* Centers the element horizontally within its container */
margin-top: 20px;
margin-bottom: 20px;
}
/* new arrival */
.center-text{
    text-align: center;
    font-size: var(--h2-font);
    font-weight: 800;
    color: var(--text-color);
}
  
.new-content{
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(300px,auto)); */
    align-items: center;
    gap: 2.5rem;
    margin: 4.5rem;
    text-align: center;
}


.off{
    color: #e55473;
}







  
  

