
/* related to header style */
.header{
    background-color:rgba(229, 84, 115, 0.1);
}
body{
    font-family: 'Open Sans', sans-serif;
}
.banner{
    padding: 100px 150px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-title{
    margin: 0;
    font-size: 85px;
    font-weight: 700;
    margin-bottom:20px;
}
.btn-primary{
    background-color: #e55473;
     border-radius: 5px;
     border: 0;
     padding: 15px 35px;
     font-size: 20px;
     font-weight: 700px;
     color: white;
}

.para{
    font-size: 16px;
  margin-top: 50px;
 color: rgba(39, 39, 39, 0.6);
 text-align: justify;
}
.banner-content {
    max-width: 800px; /* Adjust the value according to your preference */
    margin: 0 auto; /* Centers the content horizontally within the parent container */
  }

  /* main section style */
.section-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
width: 594px;
margin: 0 auto; /* Centers the element horizontally within its container */
margin-top: 20px;

}
.section-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800 ;
margin-bottom: 20px;
margin-top: 130px;
}

/* .image-container{ */

    .image-container {
        display: flex;
        width: 1920px;
         background: #FFF;
         margin-top: 10px;
         margin-left: 100px;
         margin-right: 200px;
         align-items: center;
        justify-content: space-around;
    }
    .red{
        padding: 47px;
        padding-top: 117px;
        border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

    }
    .pink{
        padding: 78px;
        padding-top: 110px;
        border-radius: 300px 300px 0px 0px;
        background: rgba(167, 33, 98, 0.15)
    }
    .yellow{
        padding:75px ;
        padding-top:67px ;
        border-radius: 300px 300px 0px 0px;
        background: rgba(71, 125, 17, 0.15);
    }
    .img-caption{
        text-align: center;
        color: #272727;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        text-decoration-line: underline;
    }








  
  


